body{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background: url('sush/background.jpg')center/cover no-repeat;
}

.images{
background: yellow ;
flex: 0 0 60%;
min-height: 70vh;
background: url('sush/sush-0.jpg')center/cover no-repeat;
border-radius:15px;
box-shadow: 5px 10px black;
position: relative;

}

.btn{
    display: inline-block;
    background: white;
    color:black;
    border:3px solid green;
    font-size: 1.5rem;
    padding: 0.5rem;
    
    border-radius: 20%;
    box-shadow:2px 5px black;
    outline: none;
}
.prevBtn{
    position: absolute;
    top:50%;
    left: 00%;
    transform: translate(-50%,-50%); 
  
}
.nextBtn{
    position: absolute;
    top:50%;
    right: 00%;
    transform: translate(50%,-50%); 
  
}
.btn:active{
    background: grey;
    box-shadow: 3px 3px grey;
}
.btn:hover{
    background: green;
    color: white;
}